In [6]:
# que:-1 Write a program to convert specified days into years, weeks and days.Take user input.Note: Ignore leap year.


days = int(input("Enter the number of days: "))
years = days // 365
weeks = (days % 365) // 7
remaining_days = (days % 365) % 7
print("days:-",days)
print("years:-",years)
print("weeks:-",weeks)
print("remaining days:-",remaining_days)

Enter the number of days:  375

days:- 375
years:- 1
weeks:- 1
remaining days:- 3

In [8]:
# que:-2 Write a Python program to input basiPython salary of an employee and calculate its Gross salary according to following:
# Basic Salary <= 10000 : HRA = 20%, DA = 80%
# Basic Salary <= 20000 : HRA = 30%, DA = 90%
# Basic Salary > 20000 : HRA = 35%, DA = 95%


basic_salary = float(input("Enter the basic salary of the employee: "))
if basic_salary <= 10000:
    HRA = 0.20 * basic_salary
    DA = 0.80 * basic_salary
elif basic_salary <= 20000:
    HRA = 0.30 * basic_salary
    DA = 0.90 * basic_salary
else:
    HRA = 0.35 * basic_salary
    DA = 0.95 * basic_salary
gross_salary = basic_salary + HRA + DA
print(f"Basic Salary: {basic_salary}")
print("HRA:-",HRA)
print("DA:-",DA)
print("Gross Salary:-",gross_salary)

Enter the basic salary of the employee:  1700

Basic Salary: 1700.0
HRA:- 340.0
DA:- 1360.0
Gross Salary:- 3400.0

In [86]:
# que :- 3 Write a Python program to input electricity unit charges and calculate total electricity bill according to the given condition:
# For first 50 units Rs. 0.50/unit
# For next 100 units Rs. 0.75/unit
# For next 100 units Rs. 1.25/unit
# For unit above 250 Rs. 1.50/unit
# An additional surcharge of 17% is added to the bill



units = float(input("Enter the number of electricity units consumed: "))
if units <= 50:
    total_bill = units * 0.50 + 0.17 * units
    print(total_bill)
elif units <= 150:
    total_bill = units * 0.75 + 0.17 * units
    print(total_bill)
elif units <= 250:
    total_bill = units * 1.25 + 0.17 * units
    print(total_bill)
else:
    if units > 250:
        total_bill = units * 1.50 + 0.17 * units
        print(total_bill)

Enter the number of electricity units consumed:  75

69.0

In [41]:
# que :- 4  Write a Python program to print the given number patterns.
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5


num_rows =5
for i in range(1, num_rows + 1):
 for j in range(i):
        print(i, end=" ")
    
 print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [43]:
# que 5 Write a Python program to calculate product of digits of a number. Read value of n from user.

n = int(input("Enter a number: "))
product = 1
while n > 0:
    digit = n % 10  
    product *= digit
    n //= 10


print("The product of the digits is:=",product)

Enter a number:  75

The product of the digits is:= 35

In [8]:
# que 6 Create a list of elements like: x = [45, 67, 12, ‘Hello’, 23.45, ‘World’] and oerform following operations:

x = [45,67,12,'hello',23.45,'world']

In [9]:
#6-1 Extract only string values from this list.

string_values = [element for element in x if isinstance(element, str)]
print("String values:", string_values)

String values: ['hello', 'world']

In [10]:
#6-2 Create a new list with strings in upper case.
[element.upper() for element in string_values]

['HELLO', 'WORLD']

In [11]:
#6-3 Find the addition of integer values
integer=[element for element in x if isinstance(element, int)]
sum= sum(integer)
print("Sum of integer values:", sum)

Sum of integer values: 124

In [12]:
#6-4 Check that the value 56 is present in it or not.
56 in x

False

In [13]:
#6-5 Print the list in reverse order.

x[::-1]

['world', 23.45, 'hello', 12, 67, 45]

In [80]:
#6-6 Delete the string ‘Hello’ from it.

if 'hello' in x:
  x.remove('hello')
print(x)

[45, 67, 12, 36, 23.45, 'world']

In [15]:
#6-7 . Insert a new value of 36 at 5th position in list.

x.insert(4,36)
print(x)

[45, 67, 12, 'hello', 36, 23.45, 'world']

In [16]:
#6-8 Count total number of elements in list now.
len(x)

7

In [81]:
#6-9 . Extract the values from 2nd index to 5th index.

n=x[2:6]
print(n)

[12, 36, 23.45, 'world']

In [82]:
#6-10 Append [34, ‘Pune’] to this list.

x.append([34,'pune'])
print(x)

[45, 67, 12, 36, 23.45, 'world', [34, 'pune']]

In [19]:
#6-11  Delete the last element from list.

x.pop()

[34, 'pune']

In [67]:
#que 7 Create a tuple of elements with 5 float values in it and perform following operations:

t=(7.7,2.2,5.5,4.4,1.1)

In [68]:
#7-1 Print the data in sorted manner.
sorted(t)

[1.1, 2.2, 4.4, 5.5, 7.7]

In [22]:
#7-2 Check to see that the element 50 is present in it.
50 in t

False

In [23]:
#7-3 Convert this tuple in set.
float_set=set(t)
print(float_set)

{1.1, 2.2, 3.3, 4.4, 5.5}

In [24]:
#que 8 Create a dictionary of elements: {‘a’: ‘apple’, ‘b’: ‘ball’, ‘c’: ‘cat’, ‘d’: ‘doll’, ‘k’:‘king’} and perform following operations.

d={'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k':'king'}

In [25]:
#8-1 Access the data at key ‘k’.
k=d['k']
print(k)

king

In [26]:
#8-2  Add a new values ‘z’: ‘zebra’
d['z']='zebra'
print(d)

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king', 'z': 'zebra'}

In [27]:
#8-3 Replace the contents of ‘d’ as ‘dog’
d['d']='dog'
print(d)

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'k': 'king', 'z': 'zebra'}

In [28]:
#8-4 Print all the values from this dictionary.

d.values()

dict_values(['apple', 'ball', 'cat', 'dog', 'king', 'zebra'])

In [29]:
#8-5 Find the length of this dictionary
len(d)

6

In [65]:
# que 9 Write a program to find the second largest element in a list.

list=[77,67,35,70,54]

In [66]:
sorted(list)
print(list[-2])

70

In [60]:
#que 10 This is a list of some metallic elements. metals = [ 'silver','gold', ... ] Make a new list that is almost identical to the metals list: the new contains the same items, in the same order, except that it does NOT contain the item 'copper'.

In [8]:
m=['gold','silver','copper','aluminum','platinum','iron']

In [9]:
n_metal=[m for m in m if m!='copper']
print(n_metal)

['gold', 'silver', 'aluminum', 'platinum', 'iron']